<h1><%= @owner.name %> Vending Machines</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @owner.machines.each do |machine| %>
      <tr>
        <td><%= link_to machine.location, machine_path(@owner), class:'btn btn-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
