<h1><%= @machine.location %> Vending Machine</h1>
<h2>Snacks Provided</h2>
<div id='snack-list'>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @machine.snacks.each do |snack| %>
        <tr>
          <td><%= snack.name %></td>
          <td>$<%= snack.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class='table'>
    <thead>
      <tr><th>Average Price</th></tr>
    </thead>
    <tbody>
      <tr><td><%=@machine.average_price%></td></tr>
    </tbody>
  </table>
</div>